@use "sass:map";

.wp-block {

	&-buttons {

	}

	&-button {

		&.has-custom-width .wp-block-button__link {
			min-width: 0;
		}
	}

	// Columns block.
	&-columns {

		&.is-style-separator {

			@media (max-width: 781px) {
				gap: var(--wp--style--block-gap);
			}

			> .wp-block-column {


				&:not(:first-child) {

					@media (max-width: 781px) {
						padding-top: var(--wp--style--block-gap);
						border-top: 1px solid var(--wp--preset--color--light-soft-gray);
					}

					@media (min-width: 782px) {
						padding-left: var(--wp--style--block-gap);
						border-left: 1px solid var(--wp--preset--color--light-soft-gray);
					}
				}
			}

			&.is-not-stacked-on-mobile > .wp-block-column:not(:first-child) {
				padding-top: 0;
				padding-left: var(--wp--preset--spacing--20);
				border-top: 0;
				border-left: 1px solid var(--wp--preset--color--light-soft-gray);
			}
		}
	}

	// Column block.
	&-column {

	}

	// Cover block.
	&-cover {
		padding-right: 0;
		padding-left: 0;

		&.alignfull {
			padding-right: var(--wp--style--root--padding-right);
			padding-left: var(--wp--style--root--padding-left);
		}
	}

	// Group block.
	&-group {

	}

	// Image block.
	&-image {

	}

	// Navigation block.
	&-navigation {

		&-item {
		}
	}

	// Pull quote block.
	&-pullquote {

	}

	// Query block.
	&-query {

	}

	// Featured image block.
	&-post-featured-image {

	}

	// Post author block.
	&-post-author {

	}

	// Post excerpt block.
	&-post-excerpt {

	}

	// Search block.
	&-search {

	}

	// Separator block.
	&-separator {
		width: 100%;
	}

	// Site logo block.
	&-site-logo {

	}

	// Social links block.
	&-social-links {

	}

	// Verse block.
	&-verse {
		margin: 0 0 0 4rem;
		padding: 0;
		background: transparent;
		font: inherit;
	}

	// Table of contents block.
	&-table-of-contents {

		ol,
		ul {
			padding-left: 2em;
		}

		ol ol {
			list-style-type: lower-roman;
		}

		li {
			margin: var(--wp--preset--spacing--8) 0;
			line-height: 1.2;
		}
	}
}
